$allLinuxColorsMap: (
        'default': rgb(200,200,200),
        'rs': rgb(200,200,200),
        'directory': rgb(0,111,184),
        'symbolic-link': rgb(0, 141, 100),
        'command': rgb(0,111,184),
        'executable': rgb(57,181,74),
);

$backgroundColor: rgb(1,1,1);
$textColor: rgb(97, 233, 49);
$borderColor: rgb(40, 40, 40);
$defaultLinuxColor: map-get($allLinuxColorsMap, 'default');
$usableLinuxColorsMap: map-remove($allLinuxColorsMap, 'default');
$lineHeight: 1.3;
$fontSize: 1rem;
